@import '~@evan.network/ui/src/style/utils';

.content {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.add-twin-btn {
  position: fixed;
  bottom: 40px;
  right: 60px;
}

.search {
  span, i {
    font-size: cssVar('h4-font-size');
    color: cssVar('gray-600');
    font-weight: bold;
    cursor: pointer;
  }

  & input {
    padding: 2px 8px;
    outline: none;
    background: transparent;
    border: none;
    color: cssVar('gray-600');
    font-size: cssVar('h4-font-size');
    font-weight: bold;

    &:focus {
      border-bottom: 1px solid cssVar('gray-600');
    }
  }

  label {
    line-height: 32px;
  }
}

.td-important {
  font-size: 12px;
  font-weight: 600;
  color: inherit;
}
