@import '~@evan.network/ui/src/style/utils';

.input-wrapper {
  position: relative;

  input.form-control, textarea.form-control {
    font-size: 12px;

    color: cssVar('gray-900');
    border: 1px solid cssVar('gray-500');

    &:focus {
      border: 1px solid cssVar('primary');
    }

    &[disabled] {
      color: cssVar('gray-600');
      border: 1px solid cssVar('gray-200');
    }
  }
}

.form-group > label.col-form-label {
  & > div {
    display: flex;
    flex-direction: column;

    p {
      font-size: 12px;
      font-weight: 600;

      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
