@function cssVar($name) {
  @return var(--evan-#{$name});
}

.modal .modal-dialog .modal-content {
  overflow-y: auto;

  min-height: 300px;
  max-height: calc(90vh - 140px - 32px);
  padding: 0 3rem;

  .step > div {
    height: 100%;
    padding: 12px;

    background: #f5f6fa;
  }
}
