@import '~@evan.network/ui/src/style/utils';

// Fill Attribute is "hardcoded" here because cssVars don't work in svg
// Beware: Fill hex value can't contain #. Must be replaced by %23
$arrow-down: '<svg xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="%2346C2BF" d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z" /></svg>';
$arrow-up: '<svg xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="%2346C2BF" d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" /></svg>';
$table-row-height: 56px;

.evan-table-wrapper {
  width: 100%;
  margin-bottom: 0;

  &.clickable-rows {
     /deep/ tr.evan-table-body-row {
      cursor: pointer;
    }
  }


  &.show-scrollbar {
    overflow-y: scroll;
    // This is needed for webkit browsers
    // https://stackoverflow.com/a/31278448
    &::-webkit-scrollbar {
      width: 7px;

      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
              box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

   /deep/ table.table.b-table {
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    border-spacing: 0 5px;
    // This can create janky behavior with sticky table header
    // Without this we have trouble with borders on rows
    border-collapse: separate;

    & > thead.evan-table-head > tr.evan-table-head-row > th {
      font-size: 10px;

      white-space: nowrap;

      color: cssVar('gray-600');
      border: none;
      background-color: cssVar('bg-level-3');
      // Using values from figma creates weird shadow bleeding
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);

      /* Sorting icon */
      &[aria-sort] {
        // remove standard arrows
        background-image: none;
      }

      &[aria-sort='ascending'], &[aria-sort='descending'] {
        color: cssVar('primary');

        &::after {
          display: inline-block;

          width: 14px;
          // 14px to avoid janky height changes on sort
          height: 14px;
          margin-left: 6px;

          vertical-align: sub;
        }
      }
      &[aria-sort='ascending']::after {
        content: url('data:image/svg+xml;utf-8,' + $arrow-up);
      }
      &[aria-sort='descending']::after {
        content: url('data:image/svg+xml;utf-8,' + $arrow-down);
      }

      &.th-important {
        width: 200px;
      }
      &.th-date {
        width: 150px;
      }
      &.th-icon {
        width: 70px;
      }
    }

    & > tbody > tr.evan-table-body-row {
      height: $table-row-height;

      color: cssVar('gray-600');
      background-color: white;

      &:hover {
        background-color: cssVar('gray-100');
        // border creates janky jumping. Using inset shadow as an alternative
        box-shadow: inset 0 0 0 1px cssVar('gray-200');
      }

      & > td {
        font-size: 12px;

        padding-top: 0;
        padding-bottom: 0;

        vertical-align: middle;

        border: none;

        &.truncate {
          overflow: hidden;

          max-width: 200px;

          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.td-multi-icon {
          display: flex;
          align-items: center;
          height: $table-row-height;
        }
      }

      &.b-table-empty-row {
        cursor: inherit;
      }

      .visible-on-row-hover {
        visibility: hidden;
      }
      &:hover .visible-on-row-hover {
        visibility: visible;
      }
    }

    i.table-icon {
      font-size: 2.5em;

      margin-left: 0.25em;
    }

    .table-spacer {
      height: 16px;
    }

    .list-enter-active, .list-leave-active {
      transition: all 0.5s;
    }
    .list-enter, .list-leave-to {
      opacity: 0;
    }
  }

  // Simple Evan Table
  &.simple {
    .table-responsive {
      margin-bottom: 0 !important;
    }

     /deep/ table.table {
      width: 100%;

      thead.evan-table-head {
        background-color: cssVar('gray-200');
        th {
          font-size: 12px !important;
          font-weight: 600;
          vertical-align: top;

          box-shadow: none !important;
        }
      }

      td, th {
        padding: 8px;

        &.truncate {
          overflow: hidden;

          max-width: 200px;

          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      tbody {
        tr {
          height: 40px !important;
          &:hover {
            box-shadow: none !important;
          }
        }
      }
    }
  }
}
// TODO: Find a better solution at some point
// http://www.outlinenone.com/
 /deep/ * {
  &:focus {
    outline: 0;
  }
}
